@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}

img {
  max-width:100%;
}

.contador {
  border-radius: 20px;
  background-color: goldenrod;
}

.text {
  color: black;
  font-size: 40px;
  font-family: 'Roboto Condensed', serif;
  font-weight: 40;
  margin-top:10px;
  margin-bottom: 10px;
  text-align: center;
}

#intro {
  margin-top: 30px;
}

.intro {
  font-size: 60px;
}

.franja {
  background-color: firebrick;
  color: white;
}

.digit {
  color: firebrick;
  font-size: 120px;
  /*font-weight: 400;*/
  font-family: 'Roboto', serif;
  margin: 10px;
  text-align: center;
}

.link {
  color: firebrick;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: goldenrod;
}

.names {
  color: white;
  font-size: 24px;
  font-family: 'Roboto', serif;
  font-weight: bold;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  height: 200px;
  background-color: grey;
}

.subtitle {
  color: white;
  font-size: 60px;
  font-family: 'Roboto', serif;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: grey;
}

#hashtags {
  margin-top: 10px;
}

#slideEmpresonats {
  margin-top: 100px;
}
